{% extends 'base.html' %}

{% block title %}Edit post{% endblock title %}

{% block content %}

<body class="flex bg-gray-100 min-h-screen">
    <main class="p-6 sm:p-10 space-y-6">
        <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
            <div class="mr-6">
                <h1 class="text-4xl font-semibold mb-2">Edit Post</h1>
            </div>
        </div>
        <!--Employee information-->
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <p>Please correct the following errors:</p>
            {% for field in form %}
            {% if field.errors %}
            <div class="alert alert-primary" role="alert">
                {{ field.label }}: {{ field.errors|striptags }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Edit <strong>"{{ post.title }}"</strong> text comment
                    </h3>
                </div>
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.title}}
                            </dd>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.body}}
                            </dd>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-6">
                            <div class="w-full flex justify-center">
                                <a class="shadow-none bg-red-700 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-4 px-10 rounded-full" href="{% url 'posts:post_details' pk=post.pk %}">Cancel</a>
                                <button type="submit" value="Submit"
                                    class="shadow-none bg-blue-700 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-4 px-10 rounded-full">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
        </form>
    </main>
    </div>
</body>


{% endblock content %}