{% extends 'base.html' %}

{% block title %}Rate user{% endblock title %}

{% block content %}

<body class="flex bg-gray-100 min-h-screen">
    <main class="p-6 sm:p-10 space-y-6">
        <!--Employee information-->
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
                <img class="h-10 w-10 rounded-full"
                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60"
                    alt="">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    {{ r_user.first_name }} {{ r_user.last_name }}
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Personal details.
                </p>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Rate user in scale from 1 to 10 by each attribute.
                </p>
            </div>
            <form method="post">
                {% csrf_token %}
                {% if form.errors %}
                <p>Please correct the following errors:</p>
                {% for field in form %}
                {% if field.errors %}
                <div class="alert alert-primary" role="alert">
                    {{ field.label }}: {{ field.errors|striptags }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                <b>Professionalism</b>
                                <p>Being polite, well-spoken, calm, and presentable is all part of being professional at
                                    work.</p>
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.rate_professionalism }}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                <b>Teamwork</b>
                                <p>The ability to work with other people in a team, by fostering relationships in a
                                    professional manner, in order to achieve a common goal, is an asset to any company.
                                </p>
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.rate_teamwork }}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                <b>Communication</b>
                                <p>The ability to communicate information accurately, clearly and as intended.</p>
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.rate_communication }}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                <b>Plan and organize</b>
                                <p>Accurately estimate time and effort required to complete a task.</p>
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.rate_organize }}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                <b>Problem solving</b>
                                <p>Employees who work on something until it’s solved, or complete, and who bring their
                                    best efforts to solve problems are considered good employees.</p>
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.rate_problem_solving }}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                <b>Personality</b>
                                <p>Employees who bring a positive attitude to work have a positive impact on those
                                    around them and improve the energy in the team.</p>
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.rate_personality }}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                <b>Reliability</b>
                                <p>Reliable and dependable in performing job-related tasks, finishing assigned projects,
                                    meeting deadlines and appointments.</p>
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.rate_reliability }}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                <b>Honesty and integrity</b>
                                <p>Telling the truth about tricky subjects, such as workload, work/life balance,
                                    difficult customers or colleagues.</p>
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.rate_honesty_integrity }}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                <b>Emotional intelligence</b>
                                <p>Emotional intelligence (EQ) is about being mindful of one’s own state of emotions, as
                                    well as those in the team. Knowing how to manage these well is an important key to
                                    being a good employee.</p>
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.rate_emotional_intelligence }}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                <b>Willingness to learn</b>
                                <p>Hard skills attained through education are not enough for good employees – they’re
                                    open minded to new ideas, and they share their thoughts and personal insights with
                                    the team.</p>
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.rate_willingness_to_learn }}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                <b>Review</b>
                                <p>Short review(min 50 chars).</p>
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ form.text }}
                            </dd>
                        </div>
                        {% if user.id is not None %}
                        <div class="flex flex-wrap -mx-3 mb-6">
                            <div class="w-full flex justify-center">
                                <a class="shadow-none bg-red-700 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-4 px-10 rounded-full"
                                href="{{request.META.HTTP_REFERER}}">Cancel</a>
                                <button type="submit" value="Submit"
                                    class="shadow-none bg-blue-700 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-4 px-10 rounded-full">
                                    Submit
                                </button>
                            </div>
                        </div>
                        {% else %}
                        You must be logged in to review another user.
                        {% endif %}
                    </dl>
                </div>
            </form>
        </div>
    </main>
    </div>
</body>


{% endblock content %}