#login {
  margin-bottom: 270px;
}

#register {
  margin-top: 50px;
  margin-bottom: 50px;
}

#logged-in {
  padding-bottom: 320px;
  padding-top: 200px;
}

#span {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .adminbox {
    margin-top: 10px;
    margin-right: 10px;
  }
}
.search {
  margin-right: 10px;
}

.adminbox {
  margin-right: 10px;
}

.admin {
  margin-right: 10px;
}

.edit_button {
  position: absolute;
  right: 40px;
}

.truncate {
  width: 1000px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}