{% extends "base.html" %}

{% block dashboard_nav %}
{% endblock dashboard_nav %}

{% block title %}Password reset{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div id="login" class="container mx-auto p-8 flex">
    <div class="max-w-md w-full mx-auto mt-12 mb-12">
        <div class="bg-white rounded-lg overflow-hidden shadow-2xl">
            <div class="p-8">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-5">
                        <input name="new_password1" class="block mb-2 text-sm font-medium text-gray-600"
                            placeholder="New password" type="password" id="id_new_password1" required="true">
                    </div>
                    <div class="mb-5">
                        <input name="new_password2" class="block mb-2 text-sm font-medium text-gray-600"
                            placeholder="Confirm password" type="password" id="id_new_password2" required="true">
                    </div>
                    <button class="w-full p-3 mt-4 bg-indigo-600 text-white rounded shadow" type="submit"
                        value="Update">Update</button>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                </form>
            </div>

            <div class="flex justify-between p-8 text-sm border-t border-gray-300 bg-gray-100">
                <a href="{% url 'users:register' %}" class="font-medium text-indigo-500">Create account</a>
                <a href="{% url 'login' %}" class="text-gray-600">Login</a>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}