{% extends "base.html" %}

{% block dashboard_nav %}
{% endblock dashboard_nav %}

{% block title %}Password reset{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div id="login" class="container mx-auto p-8 flex">
    <div class="max-w-md w-full mx-auto">
        <h1 class="text-4xl text-center mt-12 mb-12 font-thin">Reset your password</h1>

        <div class="bg-white rounded-lg overflow-hidden shadow-2xl">
            <div class="p-8">
                <form method="POST" class="form-signin">
                    {% csrf_token %}
                    <input name="email" class="block p-3 mb-2 text-sm font-medium text-gray-600" placeholder="Email address" type="email" id="id_email" required="true">
                    <button class="w-full p-3 mt-4 bg-indigo-600 text-white rounded shadow" type="submit" value="Submit">Send reset email</button>  
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}


