#login {
  margin-top: 50px;
  margin-bottom: 150px;
}
@media only screen and (max-width: 600px) {
  #login {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#logged-in {
  margin-top: 50px;
  margin-bottom: 300px;
}

@media only screen and (max-width: 600px) {
  #logged-in {
    margin-top: 0;
    margin-bottom: 0;
  }
}


#register {
  margin-top: 50px;
  margin-bottom: 50px;
}

#span {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .adminbox {
    margin-top: 10px;
    margin-right: 10px;
  }
}
.search {
  margin-right: 10px;
}

.adminbox {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .admin {
    margin-top: 10px;
    margin-right: 10px;
  }
}
.admin {
  margin-right: 10px;
}

.edit_button {
  position: absolute;
  right: 40px;
}

.truncate {
  width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

canvas {
  height: 600px;
  width: 600px;
}
@media only screen and (max-width: 600px) {
  canvas
  {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .allposts
  {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
}

@media only screen and (max-width: 600px) {
  .userdetprofimg
  {
    justify-content: center;
    position: absolute;
  }
}
