{% extends "base.html" %}
{% block title %}Log-in{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div id="login" class="container mx-auto p-8 flex">
    <div class="max-w-md w-full mx-auto">
        <h1 class="text-4xl text-center mb-12 font-thin">Company</h1>

        <div class="bg-white rounded-lg overflow-hidden shadow-2xl">
            <div class="p-8">
                <form method="post" class="" action="{% url 'users:login' %}" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Error: El.Pašto adresas arba slaptažodis neteisingi!
                    </div>
                    {% endif %}
                    <div class="mb-5">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-600">Email</label>
                        {{ form.username }}
                    </div>

                    <div class="mb-5">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Password</label>
                        {{ form.password }}
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <button class="w-full p-3 mt-4 bg-indigo-600 text-white rounded shadow" type="submit"
                        value="Log-in">Login</button>
                </form>
            </div>

            <div class="flex justify-between p-8 text-sm border-t border-gray-300 bg-gray-100">
                <a href="{% url 'users:register' %}" class="font-medium text-indigo-500">Create account</a>

                <a href="#" class="text-gray-600">Forgot password?</a>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}