{% extends "base.html" %}

{% block dashboard_nav %}
{% endblock dashboard_nav %}

{% block title %}Log-in{% endblock %}

{% block content %}

{% include 'navbar.html' %}

{% if user.is_authenticated %}

<div id="logged-in" class="container mx-auto p-8 flex">
    <section class="loged-in text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
            <h2 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5">You are already logged
                on to this server</h2>
            <div class="md:w-3/5 md:pl-6">
                <p class="leading-relaxed text-base">To proceed further use navigation or continue by...</p>
                <div class="flex md:mt-4 mt-6">
                    <a href="{% url 'home' %}" class="font-medium text-indigo-500">
                        <button
                            class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Continue</button></a>
                    <a href="{{ user.get_absolute_url }}" class="text-indigo-500 inline-flex items-center ml-4">Profile
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

{% else %}
<div id="login" class="container mx-auto p-8 flex">
    <div class="max-w-md w-full mx-auto">
        <h1 class="text-4xl text-center mb-12 font-thin">Company</h1>

        <div class="bg-white rounded-lg overflow-hidden shadow-2xl">
            <div class="p-8">
                <form method="post" class="" action="{% url 'users:login' %}" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Error: El.Pašto adresas arba slaptažodis neteisingi!
                    </div>
                    {% endif %}
                    <div class="mb-5">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-600">Email</label>
                        {{ form.username }}
                    </div>

                    <div class="mb-5">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Password</label>
                        {{ form.password }}
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <button class="w-full p-3 mt-4 bg-indigo-600 text-white rounded shadow" type="submit"
                        value="Log-in">Login</button>
                </form>
            </div>

            <div class="flex justify-between p-8 text-sm border-t border-gray-300 bg-gray-100">
                <a href="{% url 'users:register' %}" class="font-medium text-indigo-500">Create account</a>

                <a href="#" class="text-gray-600">Forgot password?</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% include 'footer.html' %}

{% endblock %}